In [1]:
import pandas as pd

In [2]:
read_csv = pd.read_csv('/Users/himanishprakash/NLP-Application/Next_word_prediction/IPL_Match_Highlights_Commentary.csv') 
df = read_csv[["Team","Commentary","batsman"]]

In [3]:
df[['bowler', 'batsman']] = df['batsman'].str.split(' to ', expand=True)

/var/folders/q8/ljm60kbj15sdr2ljq0vcfbq00000gn/T/ipykernel_25303/3935744984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['bowler', 'batsman']] = df['batsman'].str.split(' to ', expand=True)

In [4]:
df.head()

,Team,Commentary,batsman,bowler
0,RCB 1st Inns,"Nehra to Mandeep, FOUR, first boundary for Man...",Mandeep,Nehra
1,RCB 1st Inns,"Nehra to Mandeep, FOUR, back-to-back boundarie...",Mandeep,Nehra
2,RCB 1st Inns,"Henriques to Kedar Jadhav, FOUR, hit straight ...",Kedar Jadhav,Henriques
3,RCB 1st Inns,"Nehra to Kedar Jadhav, FOUR, another full toss...",Kedar Jadhav,Nehra
4,RCB 1st Inns,"Nehra to Kedar Jadhav, FOUR, four more. Jadhav...",Kedar Jadhav,Nehra

In [5]:
teams = df['Team'].apply(lambda x: x.split()[0]).unique().tolist()
# Step 2: Split the `batsman` column into 'bowler' and 'batsman'
all_players = pd.unique(df[['bowler', 'batsman']].values.ravel('K')).tolist()

In [6]:
def replace_terms(row):
    commentary = row['Commentary']
    # Replace bowler and batsman names first
    commentary = commentary.replace(row['bowler'], 'bowler')
    commentary = commentary.replace(row['batsman'], 'batsman')
    # Replace team names
    for team in teams:
        commentary = commentary.replace(team, 'team')
    return commentary

In [7]:
df['Modified_Commentary'] = df.apply(replace_terms, axis=1)

/var/folders/q8/ljm60kbj15sdr2ljq0vcfbq00000gn/T/ipykernel_25303/3619961133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Modified_Commentary'] = df.apply(replace_terms, axis=1)

In [10]:
df

,Team,Commentary,batsman,bowler,Modified_Commentary
0,RCB 1st Inns,"Nehra to Mandeep, FOUR, first boundary for Man...",Mandeep,Nehra,"bowler to batsman, FOUR, first boundary for ba..."
1,RCB 1st Inns,"Nehra to Mandeep, FOUR, back-to-back boundarie...",Mandeep,Nehra,"bowler to batsman, FOUR, back-to-back boundari..."
2,RCB 1st Inns,"Henriques to Kedar Jadhav, FOUR, hit straight ...",Kedar Jadhav,Henriques,"bowler to batsman, FOUR, hit straight back at ..."
3,RCB 1st Inns,"Nehra to Kedar Jadhav, FOUR, another full toss...",Kedar Jadhav,Nehra,"bowler to batsman, FOUR, another full toss, it..."
4,RCB 1st Inns,"Nehra to Kedar Jadhav, FOUR, four more. Jadhav...",Kedar Jadhav,Nehra,"bowler to batsman, FOUR, four more. Jadhav sta..."
...,...,...,...,...,...
11569,RR 1st Inns,"Rabada to Smith, FOUR, who'd've thought the wo...",Smith,Rabada,"bowler to batsman, FOUR, who'd've thought the ..."
11570,RR 1st Inns,"Harshal Patel to Jaiswal, SIX, short ball, and...",Jaiswal,Harshal Patel,"bowler to batsman, SIX, short ball, and batsma..."
11571,RR 1st Inns,"Ashwin to Smith, FOUR, a rare rank half-tracke...",Smith,Ashwin,"bowler to batsman, FOUR, a rare rank half-trac..."
11572,RR 1st Inns,"Ashwin to Jaiswal, 1 run, pushes this one hast...",Jaiswal,Ashwin,"bowler to batsman, 1 run, pushes this one hast..."
11573,RR 1st Inns,"Nortje to Smith, out Caught by Hetmyer! That's...",Smith,Nortje,"bowler to batsman, out Caught by Hetmyer! That..."

In [11]:
df['Modified_Commentary'] = df['Modified_Commentary'].str.replace('bowler to batsman, ', '', regex=False)

/var/folders/q8/ljm60kbj15sdr2ljq0vcfbq00000gn/T/ipykernel_25303/1136366734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Modified_Commentary'] = df['Modified_Commentary'].str.replace('bowler to batsman, ', '', regex=False)

In [12]:
df.Modified_Commentary[4]

"FOUR, four more. Jadhav starting to really find his timing now and he's looking dangerous. This is smart batting rather than just throwing his bat at everything. He knows that fine leg is up and so he waits for the back of a length delivery to come to him before pulling it over the fielder. bowler under pressure"

In [13]:
df_commentary = df[['Modified_Commentary']]
df_commentary.to_csv("df_commentary_new.csv")